header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}

//Main 
#mainWrapper{
    main {
    
        section div.expectations{
          padding: 2rem 2vw;
          width: 100%;
          background: black;
          color: $lightFont;
          display: grid;
          grid-template-columns: 60% auto;
    
          h2 {color: #fdd831; font-size: 3rem;}
          p, ul {font-size: 1.5rem;}
          .list {
            grid-area: 2;
          }
    
          .formula {
            justify-self: end;
            h2, p {text-align: end;}
          }
          
        }
      }

      section.about div.about-columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }