header, nav, main, footer {
    max-width: 60rem;
}

//Main 
#mainWrapper{
  main {

    //About Section
    section.about {
      padding-top: 3vh;
      display: grid;
      h2 {
        text-align: left;
      }

    }

    div.about-columns {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    //Other Details
    section div.other{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      
      div {
        text-align: left;
      }

      div.graphInfo {
        background-color: white;
        p {color: #767676;}
      }

      .support {
        grid-area: 2/ span 3;
      }
    }

    section div.sponsors {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}