header {
    padding: 2rem $gutter;
    
    h1{
        font-size: 2rem;
    }

}

//main
//Main Section
#mainWrapper{
    main {

        h2 {text-transform: uppercase;}
        
        .heroImage img{
          width: 100%;
          height: auto;
        }
  
        section div.expectations{
          padding: 2rem 2vw;
          width: 100%;
          background: black;
          color: $lightFont;
          display: grid;
          grid-template-columns: 50% auto;
  
          h2 {color: #fdd831; font-size: 1.5rem;}
          p, ul {font-size: 1rem;}
          .list {
            grid-area: 2;
          }
  
          .formula {
            justify-self: end;
            h2, p {text-align: end;}
          }
          
        }
      }
  
      //About Section
      section.about {
        padding-top: 3vh;
        display: grid;
        h2 {
          font-size: 2em;
          color: $primaryColor;
          width: 100%;
          border-bottom: 1px solid $darkFont;
          text-align: center;
        }
  
      }
  
      div.about-columns {
        display: grid;
        text-align: center;
        h3 {color: $primaryColor; font-size: 1.5rem;}
        p {
          color: $darkFont;
        }
        width: 100%;
        border-bottom: 1px solid $darkFont;
        grid-template-columns: 1fr 1fr;
      }
  
  
      //Other Details
      section div.other{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      section div.sponsors {
       grid-template-columns: 1fr 1fr 1fr; }
}